::selection {
  background-color: #7C3AED;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

// Remove Safari input shadow on mobile
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
