.title {
  text-wrap: balance;
}

.prose {
  .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;

    &:hover {
      @apply visible;
    }

    &:after {
      @apply text-neutral-300 dark:text-neutral-700;
      content: '#';
    }
  }

  a {
    @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
  }

  *:hover > .anchor {
    @apply visible;
  }

  pre {
    @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
  }

  code {
    @apply px-1 py-0.5 rounded-lg;
  }

  pre code {
    @apply p-0;
    border: initial;
    line-height: 1.5;
  }

  code span {
    @apply font-medium;
  }

  img {
    @apply m-0; // Don't apply styles to next/image
  }

  p {
    @apply my-4 text-neutral-800 dark:text-neutral-200;
  }

  h1 { @apply text-4xl font-medium tracking-tight mt-6 mb-2; }
  h2 { @apply text-xl font-medium tracking-tight mt-6 mb-2; }
  h3 { @apply text-xl font-medium tracking-tight mt-6 mb-2; }
  h4 { @apply text-lg font-medium tracking-tight mt-6 mb-2; }

  strong { @apply font-medium; }
  ul { @apply list-disc pl-6; }
  ol { @apply list-decimal pl-6; }

  > :first-child {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }
}

pre {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
